@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
    --clr-title-bold: hsl(238, 29%, 16%);
    --clr-arrow-hover: hsl(14, 88%, 65%);
    --clr-question: hsl(237, 12%, 33%);
    --clr-answer: hsl(240, 6%, 50%);
    --clr-devider: hsl(240, 5%, 91%);
}

body {
    position: relative;
    background-image: linear-gradient(
  45deg,
  hsl(240deg 73% 65%) 0%,
  hsl(244deg 73% 65%) 21%,
  hsl(247deg 73% 65%) 30%,
  hsl(251deg 74% 65%) 39%,
  hsl(255deg 74% 65%) 46%,
  hsl(258deg 74% 65%) 54%,
  hsl(262deg 74% 65%) 61%,
  hsl(266deg 75% 66%) 69%,
  hsl(270deg 75% 66%) 79%,
  hsl(273deg 75% 66%) 100%
);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    z-index: -1;
}

body::after {
    position: fixed;
    content: url(/images/bg-pattern-mobile.svg);
    top: 9.8rem;
    right: 4.25rem;
    z-index: 0;
}

.card {
    width: min(90%,350px);
    z-index: 99;
    background-color: white;
    position: relative;
    padding: 8rem 1.5rem 3.1rem 1.5rem;
    margin: 0 1.5rem 0 1.5rem;
    border-radius: 1.5rem;
}

.logo {
    position: absolute;
    content: "";
    max-width: 480px;
    top: -6.8rem;
    right: -1rem;
    z-index: -1;
}

.logo > img {
    width: 79.5%;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 31.5px;
    padding-top: .1rem;
    color: var(--clr-title-bold);
}

.content {
    padding-top: 1.2rem;
}

.question-btn {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: white;
    text-align: left;
    color: var(--clr-question);
    padding-top: 1rem;
}

.question-btn::after {
    content: url(/images/icon-arrow-down.svg);
    float: right;
    transition: transform 0.2s ease-in-out;
}

.question-btn:hover {
    color: var(--clr-arrow-hover);
}

.question-btn.active::after {
    transform: rotate(180deg);
}

.question p {
    max-height: 0px;
    overflow: hidden;
    transition: .2s all ease-in-out;
    color: var(--clr-answer);
    padding-top: .6rem;
    line-height: 1.1rem;
}

#answer {
    max-height: 45px;

}

.spacing2 {
    padding-bottom: .5rem;
}

hr {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--clr-devider);
}

span {
    font-weight: bold;
    color: var(--clr-title-bold);
}

span:hover {
    color: var(--clr-arrow-hover);
}

@media only screen and (min-width:1000px) {
    .card {
        width: min(90%, 920px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4.1rem 6.7rem 4.75rem 4rem;
    }

    .logo {
        position: absolute;
        top: 4.5rem;
        bottom: 0;
        left: -5.2rem;
        max-width: 600px;
        width: 590px;
        height: 550px;
    }

    body::after {
        position: absolute;
        content: url(/images/bg-pattern-desktop.svg);
        top: -8rem;
        left: -20rem;

        background-repeat: no-repeat;
        background-size: contain;

    }

    .text-part {
        width: 100%;
        grid-column: 2/3;
    }

    .title {
        padding-top: 0;
        text-align: left;
    }

    .text-part {
        padding-left: 2.2rem;
    }

    .question-btn {
        padding-top: 1.15rem;
    }


}

